*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

table{
	width: 100%;
	border: 1px solid gray;
	padding: 10px;
	margin-top: 25px;
}

th{
	border: 1px solid gray;
	height: 30px;
}

td{
	border: 1px solid gray;
	height: 30px;
}

.capt{
	background-color: #CD853F;
}

.raw{
	background-color: #FFFFE0;
}